.container-falhaLogin {
    color: #161a59;
}

.container-falhaLogin__text ul{
    padding: 10px 10px 0px;
}

.container-falhaLogin__text li{
    font-weight: 600;
    font-size: 1.3rem;
    list-style: none;
    line-height: 1.9rem;
}

.container-falhaLogin__text{
    text-align: center;
}

.falhaLogin_img{
    width: 60vw;
    margin: 0 auto;
    height: 60vh;
}

@media (max-width: 768px) {
    .container-falhaLogin__text ul{
        padding: 5px 0px;
      
    }

    .falhaLogin_img {
        width: 98vw;
        height: 40vh;
    }
}