$first-color: #15195d;
$firstShadow-color: #070822;

$white-color: #fff;
$black-color: #000;
$softGrey-color: #bebec3;
$grey-color: #7e7e7b;

$blue-app-color: #0071c2;
$grayTransparent-color: #0009;

$base-pageDivider: 2rem;
